button#newHandBtn,
button#endGameBtn,
button#clearHistoryBtn,
button#optimalBtn,
button#newLettersBtn,
div#game_interface,
div#scoreboard_interface {
  display: none;
}

.show {
  display: block;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container>button {
  margin: 3px;
}

#alertContainer {
  display: none;
}

.show {
  display: block;
}